name: Builds
on:
  pull_request:
    branches:
      - main
      - "release/**"
  push:
    branches:
      - main
      - "release/**"
  workflow_dispatch:
permissions:
  contents: read
jobs:
  macos:
    name: Xcode ${{ matrix.xcode-version }} / swift-syntax ${{ matrix.swift-syntax-version }} / ${{ matrix.configuration }}
    runs-on: macos-15
    env:
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode-version }}.app
    steps:
      - name: Run checkout
        uses: actions/checkout@v6
      - name: Run builds
        run: |
          swift --version
          swift package resolve
          swift package resolve --version ${{ matrix.swift-syntax-version }} swift-syntax
          swift build --configuration ${{ matrix.configuration }}
    strategy:
      matrix:
        xcode-version:
          # - "16.0"
          # - "16.1"
          # - "16.2"
          - "16.3"
          - "16.4"
          # - "26.0"
          # - "26.1"
          # - "26.2"
        swift-syntax-version:
          - "510.0.0"
          - "510.0.1"
          - "510.0.2"
          - "510.0.3"
          - "600.0.0"
          - "600.0.1"
          - "601.0.0"
          - "601.0.1"
          - "602.0.0"
        configuration:
          - debug
          - release
      fail-fast: false
  macos-26:
    name: Xcode ${{ matrix.xcode-version }} / swift-syntax ${{ matrix.swift-syntax-version }} / ${{ matrix.configuration }}
    runs-on: macos-26
    env:
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode-version }}.app
    steps:
      - name: Run checkout
        uses: actions/checkout@v6
      - name: Run builds
        run: |
          swift --version
          swift package resolve
          swift package resolve --version ${{ matrix.swift-syntax-version }} swift-syntax
          swift build --configuration ${{ matrix.configuration }}
    strategy:
      matrix:
        xcode-version:
          # - "16.0"
          # - "16.1"
          # - "16.2"
          # - "16.3"
          # - "16.4"
          - "26.0"
          - "26.1"
          - "26.2"
          - "26.3"
          - "26.4"
        swift-syntax-version:
          - "510.0.0"
          - "510.0.1"
          - "510.0.2"
          - "510.0.3"
          - "600.0.0"
          - "600.0.1"
          - "601.0.0"
          - "601.0.1"
          - "602.0.0"
        configuration:
          - debug
          - release
      fail-fast: false
  ubuntu:
    name: Swift ${{ matrix.swift-version }} / swift-syntax ${{ matrix.swift-syntax-version }} / ${{ matrix.configuration }}
    runs-on: ubuntu-24.04
    steps:
      - name: Run checkout
        uses: actions/checkout@v6
        # https://github.com/swiftlang/swiftly/pull/509
      - name: apt-get update
        run: |
          sudo apt-get update
      - name: Run swiftly
        uses: vapor/swiftly-action@v0.2
        with:
          toolchain: ${{ matrix.swift-version }}
      - name: Run builds
        run: |
          swift --version
          swift package resolve
          swift package resolve --version ${{ matrix.swift-syntax-version }} swift-syntax
          swift build --configuration ${{ matrix.configuration }}
    strategy:
      matrix:
        swift-version:
          # - "6.0.0"
          # - "6.0.1"
          # - "6.0.2"
          # - "6.0.3"
          - "6.1.0"
          - "6.1.1"
          - "6.1.2"
          - "6.1.3"
          - "6.2.0"
          - "6.2.1"
          - "6.2.2"
          - "6.2.3"
        swift-syntax-version:
          - "510.0.0"
          - "510.0.1"
          - "510.0.2"
          - "510.0.3"
          - "600.0.0"
          - "600.0.1"
          - "601.0.0"
          - "601.0.1"
          - "602.0.0"
        configuration:
          - debug
          - release
        # exclude:
        #   - swift-version: "6.0.0"
        #     swift-syntax-version: "510.0.0"
        #     configuration: debug
        #   - swift-version: "6.0.1"
        #     swift-syntax-version: "510.0.0"
        #     configuration: debug
        #   - swift-version: "6.0.2"
        #     swift-syntax-version: "510.0.0"
        #     configuration: debug
        #   - swift-version: "6.0.3"
        #     swift-syntax-version: "510.0.0"
        #     configuration: debug
      fail-fast: false
